.AlpComparison {
  background-color: var( --whitefotdark);
  padding: 20px;
}

.Comparison-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background: white;
      padding: 20px;
      border-radius: 12px;
      width: 55%;
      margin: 0 auto;
}
.AlpComparison h4{
  font-size: 36px;
    text-transform: uppercase;
    width: 21%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.Comparisonlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.Comparisoncontainer .feature{
     margin-top: 10px;
}
.feature, .icon {
  width: 100%;
  text-align: center;
 
  border-bottom: 1px solid #ddd; 
}
.feature{
  padding: 15px 0;
}
.icon{
   padding: 26px 0;
}

.features {
  text-align: left;
  font-weight: bold;
  color: #333;
}

.primaryCheck {
  background-color: var(--primary-color); 
  border-radius: 12px;
}
.Comparisonlist:first-child{
  margin-top: 28px !important;
}


@media (max-width: 640px) {
  .AlpComparison h4{
    font-size: 34px;
    width: 100%;
  }
  .Comparison-wrapper{
    width: auto;
  }
}
